body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-image: url(images/best-movies-on-netflix.jpg);
    background-size: cover;
}

#content-area {
    background-color: white;
    margin: 0 auto;
    max-width: 90%;
    align-items: center;
}

#movies-searchable {
    margin-top: 20px;
}

#movies-container {
    align-content: center;
}

#logo1 {
    height: 50px;
}

#logo2 {
    height: 50px;
}

#logo3 {
    height: 50px;
}

#logo4 {
    height: 50px;
}

#logo5 {
    height: 50px;
}

#content-area {
    max-width: 80%;
}

#content-area {
    max-width: 90%;
}

#content-area {
    background-color: white;
    margin: 0 auto;
}

.nav-full {
    margin-top: 10%;
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;
    color: white;

}



section img {
    width: 300px;
    transition: 250ms all;
}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.content {
    border: 3px solid blue;
    display: none;
}

.content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10 px;
}

.content-display {
    display: block;
}