<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/css.css" />
  <link rel="stylesheet" href="stylesheets/main.css" />
  <title> Movie Catalog | Single Page</title>
  <% include ../partials/header.ejs %>
</head>

<body>
      <% include ../partials/nav.ejs %>
  <div class="container">
    <h1 class="header_style"> Movie Catalog</h1>
    <img src="" alt="">
    <form class="form_style">
      <div class="form-group">
        <input type="text" id="inputSearchBox" />
      </div>

      <button type="submit" class="myButton" id="searchSubmit">
        Search a movie
      </button>
    </form>

    <div id="movies-searchable"></div>

  </div>

  <script src="js/js.js"></script>
  <footer>

  </footer>
</body>

</html>