<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<form action="getRate" method="POST">
  <div class="form-group">
    <label for="weightInput">Package Weight (oz.)</label>
    <input type="text" class="form-control" id="weightInput" placeholder="1" name="weight">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type</label>
    <select class="form-control" id="exampleFormControlSelect1" name="type">
      <option>Letters (stamped)</option>
      <option>Letters (Metered)</option>
      <option>Large Envelopes (Flats)</option>
      <option>First-Class Package Service—Retail</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>
